@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300&display=swap');

body {
    overflow-x: hidden;
}

.round_test {
    border-radius: 15px !important;
}

.human_body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    border: 2px solid black;
    border-radius: 10px;
    background: rgb(250, 250, 250);
  }

.navIcon{  
    line-height:0%;
    transform: translate(-12%, 10%);
}
.bg-new{
    background-color:rgb(255, 153, 0) !important;
}
.bg-new3{
    background-color:rgb(252, 245, 237);
}
.bg-new4{
    background-color:rgb(85, 137, 252);
}
.bg-new5{
    background-color:rgb(12, 0, 179);
}
.bg-new6{
    background-color:rgb(201, 16, 185);
}
.bg-new7{
    background-color:rgb(0, 0, 0);
}
.set{
    overflow: hidden;
}
.footer1{
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(212, 157, 121);
    text-align: center;
}
.footer2{
    background-color: rgb(134, 96, 73);
    text-align: center;
    height: auto;
}
.btn-xl {
    width: 40px;
    height:40px;
    border-radius: 35px;
    border:none;
    line-height:0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 15px;
    margin-left: 15px;
}

.active, .btn-xl:hover {
    
    box-shadow: 0 8px 12px 2px rgba(0, 0, 0, 0.2), 5px 10px 23px 0 rgba(0, 0, 0, 0.19);
  }
.changecolor{
    color: white;
}
.navbar-collapse.collapse.show {
    display: block!important;
  }

.flexcard {
    width: 50%;
    border-radius: 10px;
}

.bottom_left {
    background: rgb(222, 219, 4);
}

.th {
    width: 2vw;
}

.thfirst {
    width: 10vw;
}

.phalf {
    padding: 1px 5px 1px 5px;
    box-shadow: 1px 1px 1px #888888;
    border-radius: 2px;
}

table {
    box-shadow: 3px 3px 5px #eee;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid lightgrey;
}

.border-dark {
    border: 1px solid white !important;
}

.accordion {
    cursor: pointer !important;
}

#table1, #table2, #table3 {
    width: 25vw;
}

.tableHead {
    font-family: 'Ubuntu', sans-serif;
}

.bg-success-imp {
    background: rgba(0,200,0,255);
}

.bg-warning-imp {
    background: rgba(251,183,45,255)
}

.bg-danger-imp {
    background: rgba(255,145,83,255);
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.text-font {
    font-family: 'Nunito Sans', sans-serif;
}

@media all and (max-width:990px) {
    .custom-class { width: 100%; display:block; }
 }   
::-webkit-scrollbar{
     width: 5px;
     height:5px;
 }
::-webkit-scrollbar-track{
    background: rgb(252, 245, 237);
}
::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgb(170, 171, 175);
}

@media all and (max-width:766px) {
    .design img {
        width: 10vw;

      }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    #table1, #table2, #table3 {
        width: 65vw;
    }
 }  
